<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whitelist-portal</title>

    <link rel="stylesheet" href="https://components.konst.fish/main.css">
    <link rel="stylesheet" href="static/main.css">

    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.2/response-targets.js"></script>
</head>
<body>
    <div class="main">
        <div class="panel panel-adjust panel-header">
            <h1>whitelist-portal</h1>
        </div>

        <form class="panel panel-adjust panel-form" hx-post="/hx/v1/add" hx-target="#table-container" hx-target-error="#table-container">
            <div class="form-container">
                <div class="form-row">
                    <div class="form-opt address">
                        <label>Address</label>
                        <input name="address" id="address" maxlength="15">
                        <script>
                            fetch('https://api.ipify.org')
                                .then(response => response.text())
                                .then(data => document.getElementById('address').value = data);
                        </script>
                    </div>
            
                    <div class="form-opt expiry">
                        <label>Expiry (Days)</label>
                        <input type="number" name="expiry" min="1" value="90" list="expiryList">
                        <datalist id="expiryList">
                            <option value="1">
                            <option value="30">
                            <option value="90">
                            <option value="356">
                        </datalist> 
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="form-opt description">
                        <label>Description</label>
                        <input name="description" id="description" maxlength="20">
                    </div>
                    <button class="btn-submit">Add</button>
                </div>
            </div>
        </form>

        <div class="panel panel-adjust panle-table" id="table-container" hx-get="/hx/v1/list" hx-trigger="load">
            <span><span class="spinner"></span> Loading...</span>
        </div>

    </div>
</body>
</html>